:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--light-gray);
}

.outfit-bold,
.outfit-normal {
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.outfit-bold {
  font-weight: 700;
  color: var(--dark-blue);
}

.outfit-normal {
  font-weight: 400;
  color: var(--grayish-blue);
  line-height: 1.25em;
}

main {
  height: 100%;
}

main,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  flex-direction: column;
  width: 320px;
  height: 497px;
  padding: 1em;
  border-radius: 1.33em;
}

.container > * {
  flex: 1 1 auto;
}

.container img,
.action {
  width: 288px;
}

.container img {
  height: 288px;
}

.action {
  height: 129px;
}

img {
  border-radius: 0.72em;
}

h2 {
  margin-bottom: 0.75em;
}
